{% extends 'base.html' %}
{% load static %}
{% block content %}


<header>
    <nav class = "nav">
        <div class = "nav-list-1">
            <i class="fa-solid fa-diagram-project"></i>
            <p>Django Product</p>
        </div>
    </nav>
</header>

<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
               
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}